$gray: #343434;
$second-gray: #636363;
$third-gray: #F9F9F9;
$fourth-gray: #F6F6F6;
$blue: #005B8B;
$white: #fff;
$accent: #FF4F4A;
$accent-gradient: 91.2deg, #FF4F4A 0.51%, #EB7471 47.95%, #FF605B 99.24%;
$blue-gradient: 91.45deg, #005B8B -3.45%, #278EC5 52.13%, #005B8B 103.2%;
$green: #00A68F;
$black: #000;

