@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica_cyr-BoldOblique.eot');
    src: url('Helvetica_cyr-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica_cyr-BoldOblique.woff2') format('woff2'),
        url('Helvetica_cyr-BoldOblique.woff') format('woff'),
        url('Helvetica_cyr-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



