@import './colors.scss';
@import './mixins.scss';

@media (max-width: 1560px) {

    .step {

        &__container {
            padding: 0;
            padding-left: 15px;
            padding-right: 50px;
            margin: initial;
        }
    }
}

@media (max-width: 1384px) {

    .step {

        &-arrow {

            &1 {
                max-width: 15vw;
            }
        }
    }
}

@media (max-width: 1366px) {
    .services {

        &__item {
            padding: 0 24px 57px 24px;

            &-list-item {
                font-size: 16px;
            }

            &-list {

                &-support {

                    li {
                        font-size: 16px;
                    }
                }
            }
        }

    }

    .works {

        .swiper-button-next,
        .swiper-button-prev {
            min-width: 64px;
            min-height: 64px;
        }

        .swiper {
            padding-bottom: 100px;
        }

        &__pagination {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;

            .swiper-button-next {
                margin-right: auto;
            }

            .swiper-button-prev {
                margin-left: auto;
            }

            .swiper-pagination {
                padding: 0 20px;
                width: initial !important;
                position: static;
            }
        }

        .swiper-pagination-bullet {

            &:last-child {
                margin-right: 0 !important;
            }
        }

        &__list {}
    }
}

@media (max-width: 1269px) {
    .step {

        &-arrow {

            &2,
            &4 {
                display: none;
            }

            &3 {
                display: flex;
                margin-bottom: 135px;
            }

            &1,
            &3 {
                max-width: 22vw;
            }

            &1 {
                display: none;
            }
        }

        .step-arrow1-1004 {
            display: flex;
            margin-top: 15%;
        }

        &__list {
            justify-content: space-between;
        }

        &__item {
            max-width: 35% !important;
            width: 100%;
            margin: 0 10px;

            &1 {

                .step__item-title,
                .step__item-subtitle {
                    max-width: 284px;
                }
            }

            &2 {

                .step__item-title,
                .step__item-subtitle {
                    max-width: 265px;
                }
            }

            &3 {

                .step__item-title,
                .step__item-subtitle {
                    max-width: 272px;
                }
            }

            &4 {

                .step__item-title,
                .step__item-subtitle {
                    max-width: 348px;
                }
            }

            &5 {

                .step__item-title,
                .step__item-subtitle {
                    max-width: 280px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .head {

        &__info {
            max-width: initial;
        }
    }

    .client-pain {

        &__item {}

        &__certificate {
            flex-direction: column;

            &-container {

                &:last-child {
                    margin-top: 50px;
                    margin-left: 0;
                    align-items: flex-start;
                    flex-direction: row;

                }

            }

            &-image {
                margin-top: 0;
                margin-left: 15px;
            }
        }

    }

    .step {

        &-arrow2 {
            display: none;
        }
    }

    .works {

        &__item {

            &-button {
                margin-top: 38px;
            }
        }

    }
}

@media (max-width: 1024px) {
    .head {

        min-height: 100vh;

        &__container {
            flex-direction: column;
        }

        &__info {
            margin-bottom: 10vh;
        }

        &__title {
            margin: 17px 0 27px 0;
            max-width: 660px;
        }

        &__image {
            margin-bottom: -65px;
        }
    }

    .about-crm {

        &__container {
            flex-direction: column;
        }

        &__title {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            margin-bottom: 39px;
        }

        &__info,
        &__subtitle {
            max-width: initial;
        }

        &__info {
            max-width: 90%;
        }

        &__image {
            margin-top: 91px;
        }
    }

    .step {

        &__item {
            margin: 0 30px;
        }

        &-arrow {
            display: none !important;
        }
    }

    .services {
        &__title {
            margin-bottom: 36px;
        }

        &__list {}

        &__item {

            padding: 0 17px 14px 17px;
            margin-top: 36px;

            &-image {
                display: flex;
                align-items: center;
                max-width: 80%;
                margin: 0 auto;
                margin-top: -56px;
            }

            &-title {}

            &-list {}

            &-body {
                height: 180px;
                overflow: hidden;
            }

            &-list-item {
                font-size: 13px;
            }

            &-more {
                flex: 1 1 auto;
            }

            &-price {
                font-size: 25px;
            }

            &-button {}

            &-list-support {
                &-title {
                    font-size: 16px;
                }

                li {
                    font-size: 13px;
                }
            }

            &-list-support-title {}
        }

        &__footer {}

        &__footer-image {}

        &__footer-subtitle {}
    }

    .works {


        &__item {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &-image {
                max-height: 443px;
                background-position: center;
            }

            &-button {
                margin-top: 38px;
            }



            &-title {
                margin-bottom: 35px;
            }
        }

        &__info {}


    }

    .callback {
        
        &__container {
            flex-direction: column;
        }
        &__title {
            width: 100%;
            margin-bottom: 35px;
            text-align: center;
        }
        &__info {
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__subtitle {
            max-width: 325px;
        }
        &__map {
            margin-top: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {

    .client-pain {

        &__list {
            flex-direction: column;
        }

        &__item {
            width: initial;

            &:last-child {
                min-height: initial;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .step {

        &__item {

            &1 {
                max-width: 248px;
                min-width: 248px;
            }

            &2 {
                max-width: 193px;
                min-width: 193px;
            }

            &3 {
                max-width: 203px;
                min-width: 203px;
            }

            &4 {
                max-width: 257px;
                min-width: 257px;
            }

            &5 {
                max-width: 231px;
                min-width: 231px;
            }
        }
        &__list {
            margin-top: 46px;
        }
    }

    .services {
        &__title {}

        &__list {}

        &__item {


            &-image {}

            &-body {
                height: 190px;
            }

            &-title {
                font-size: 20px;
            }

            &-list {}

            &-list-item {}

            &-more {}

            &-price {}

            &-button {
                padding: 22px;
            }

            &-list-support {
                margin-bottom: 15px;

                &-title {}

                li {}
            }

            &-list-support-title {}
        }

        &__footer {}

        &__footer-image {}

        &__footer-subtitle {}
    }
}

@media (max-width: 767px) {
    .client-pain {

        &__item {

            // &:nth-child(1),
            // &:nth-child(2),
            // &:nth-child(3),
            // &:nth-child(4),
            // &:nth-child(5) {
            //     background-repeat: no-repeat;
            //     background-position: right center;
            //     background-size: cover;
            // }
            &:nth-child(2) {
                background-position: center;
            }
        }
    }
}

@media (max-width: 640px) {
    body {
        font-size: 16px;
    }

    .about-crm {

        &__info {
            max-width: initial;
        }

        &__quote {
            p {
                display: inline;
            }
        }

        &__wrapper {

            &-action {
                align-items: flex-start;

                span {
                    max-width: 210px;

                }
            }
        }
    }

    .client-pain {

        &__item {
            min-height: 487px;
            padding: 36px 12px;

            &:nth-child(1) {}

            &:nth-child(2) {}

            &:nth-child(3) {}

            &:nth-child(4) {}

            &:nth-child(5) {
                min-height: 487px;
                justify-content: flex-start;
                background-image: url('../img/client-pain-5-640px.png');
                background-position: right center;

                .client-pain__item-title {
                    margin-bottom: 34px;
                }
            }

            &:nth-child(6) {
                min-height: initial;
                margin: 0;

                .client-pain__item-title {
                    font-size: 16px;
                }
            }

            &::before {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 20.21%, rgba(255, 255, 255, 0.76) 73.39%, rgba(255, 255, 255, 0.24) 93.91%);
                top: 0;
                left: 0;
                z-index: 2;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
            }

            &-title {
                font-size: 18px;
            }

            &-support-subtitle {
                font-size: 15px;
            }

            &-list-item {
                font-size: 14px;
            }
        }

        &__certificate {

            margin-top: 36px;

            &-container {
                flex-direction: initial;
            }

            &-title {
                font-size: 23px;
            }

            &-subtitle {
                font-size: 18px;
            }

            &-image {
                margin-top: 20px;
            }

            &-container:last-child {
                min-width: initial;
            }
        }
    }

    .step {

        &__list,
        &__item {

            &-title,
            &-subtitle {
                max-width: initial !important;
            }

        }

        &__container {
            padding: 0 10px;
        }

        &__list {

            display: flex;
            flex-direction: column;
        }

        &__item {
            color: $white;
            min-width: initial;
            max-width: 100% !important;
            display: flex;
            align-items: flex-start;
            margin-left: 0;
            margin-bottom: 40px;

            &-suptitle,
            &-title,
            &-subtitle {
                font-family: 'Helvetica', sans-serif;
                color: inherit;
            }

            &-suptitle {
                color: rgba(255, 255, 255, 0.4);
                font-size: 40px;
                margin-right: 4px;

                &::before {
                    width: 20px;
                    height: 20px;
                    bottom: 1px;

                }
            }

            &-title {
                font-size: 22px;
                display: flex;
                justify-content: space-between;
            }

            &-control {
                min-width: 45px;
                min-height: 45px;
                margin-left: 10px;

                svg {
                    transform: rotate(180deg);
                }
            }

            &-subtitle {
                height: 0;
            }

            &-support-container {}
        }
    }

    .services {
        &__title {}

        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__item {

            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            &-image {}

            &-body {}

            &-title {}

            &-list {}

            &-list-item {}

            &-more {}

            &-price {}

            &-button {
                padding: 22px;
            }

            &-list-support {
                &-title {}

                li {}
            }

            &-list-support-title {}
        }

        &__footer {}

        &__footer-image {}

        &__footer-subtitle {}
    }

    .works {

        &__pagination {

            justify-content: center;
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }
        }
        .swiper {
            padding-bottom: 35px;
        }
        &__item {

            &-container {
                padding: 15px;
            }

            &-image {
                max-height: 253px;
            }

            &-tasks {
                margin-bottom: 20px;
            }

            &-tasks,
            &-result {
                flex-direction: column;

                &-title {
                    margin-bottom: 13px;
                }
            }

            &-button {
                margin-left: 0;
            }
        }

    }

    .callback {
        
        &__info {
            min-width: initial;
        }
        &__phone span, &__mail span {
            font-size: 26px;
        }
    }
}